<div class="container col">
  <div class="row">
    <div class="bg-info row-center w-100">
      <h1 class="text-white text-center display-2 h-100">Agenda</h1>
    </div>
    <div class="col bg-white border border-sucess rounded shadow p-3 mb-5 bg-white">
      <form>
        <div class="col">
          <label for="nomeInput" class="col-sm-2 col-form-label display-5"> Nome</label>
          <input type="text" id="nomeInput" class="form-control" placeholder="fulano de tal" name="nome" [(ngModel)]="nome">
        </div>
        <div class="col">
          <label for="nomeInput" class="col-md-2 col-form-label display-5"> Telefone</label>
          <input type="tel" placeholder="8888-8888" id="emailInput" class="form-control" name="telefone" [(ngModel)]="telefone" >
        </div>
        <div class="col">
          <label for="nomeInput" class="col-md-2 col-form-label display-5"> Email</label>
          <input type="email" placeholder="exemplo@email.com" id="emailInput" class="form-control" name="email" [(ngModel)]="email">
        </div>
        <div class="col">
          <label for="aniverInput" class="col col-form-label display-5">Data de Nascimento</label>
          <input type="date" placeholder="dia/mes/ano" id="aniverInput" class="form-control" name="data" [(ngModel)]="data">
        </div>
        <div class="col-fluid">
          <label for="comentInput" class="col col-form-label display-5">Comentario</label>
          <input type="email" placeholder="Faça seu Comentario" id="comentInput" class="form-control" name="comentario" [(ngModel)]="comentario">
        </div>
        <div class="col">
            <p class="display-7">Tipo</p>
        </div>
        <div class="row w-100">
          <div class="col-sm-2">
            <label for="tipoInput" class="form-check-label display-7">Amigos</label>
            <div class="row-sm-2">
              <input type="radio" id="comentInput" class="form-check-input">
            </div>
          </div>
          <div class="col-sm-2">
            <label for="tipoInput" class="form-label display-7">Trabalho</label>
            <div class="row-sm-2">
            <input type="radio" id="comentInput" class="form-check-input">
            </div>
          </div>
          <div class="col-sm-2">
            <label for="tipoInput" class="form-label display-7">Familia</label>
            <div class="row-sm-2">
              <input type="radio" id="comentInput" class="form-check-input">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col bg-white border border-sucess rounded shadow p-3 mb-5 bg-white">
      <form>
        <table>
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th> Email</th>
            <th> Aniversário</th>
            <th>Comentario</th>
            <th> Tipo</th>
          </tr>
          <tr>
            <td>{{nome}}</td>
            <td>{{telefone}}</td>
            <td>{{email}}</td>
            <td>{{data}}</td>
            <td>{{comentario}}</td>
          </tr>
        </table>
      </form>
    </div>


  </div>

</div>
